
.contact {
  position: relative;

  form {
    @include space-outside($top: 20px);

    label {
      display: block;
      @include space-outside($bottom: 2px);
    }

    input {
      height: 40px;
    }

    input, textarea {
      width: 100%;
      @include space-outside($top: 5px, $right: 0, $bottom: 5px, $left: 0);
      border: 0;
      @include space-inside($left: .5rem);
    }

    textarea {
      @include space-inside($top: .25rem);
      height: 80px;
      background-color: #E9E9E9;
    }

    input[placeholder], textarea[placeholder] {
      font-style: italic;
      font-size: .75rem;
    }

    button {
      position: absolute;
      bottom: -21px;
      right: -13px;
      color: $color-white;
      border: 0;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      @include space-inside($top: .5rem, $right: 1rem, $bottom: .5rem, $left: 1rem);
      background-color: $color-purple;
      transition: transform .4s ease-out;
      @include shadow(black);
        &:hover {
          transform: rotate(25deg);
        }

        @include mq(m){
          width: 100px;
          height: 100px;
        }
      }
    }

  .contact-info {
    p {
      @include space-inside($top: .8rem);
      font-style: italic;
    }

    p:nth-child(3) {
      font-weight: 900;
      color: $color-purple;
    }
  }

  @include mq(l) {
    width: 40%;
  }
}
