// FLEXBOX
.container {
  width: 100%;
  padding: 1rem;
}

.nav-icons {
  @include flexy($just: space-between);
}

.main-text {
  height: 100%;
  @include flexy($dir: column, $just:center, $align:center);
}
