footer {
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  bottom: 0;
  @include shadow($color-white);
  text-align: center;

  p {
    font-size: .75rem;
  }

  .social-links {
    a {
      display: inline-block;
      @include space-inside($right: 0.45rem, $bottom: 0.65rem, $left: 0.45rem);

    }
  }
}
