footer {

  width: 100%;
  height: 85px;
  background-color: $color-pink;
  text-align: center;

  @include mq(m){
    height: 100px;
  }

  @include mq(l){
    height: 115px;
  }

  p {
    font-size: .75rem;
    @include mq(m){
      font-size: 1rem;
    }

    @include mq(l){
      // font-size: 1.4rem;
    }
  }

  .social-links {
    a {
      display: inline-block;
      @include space-inside($right: 0.45rem, $bottom: 0.65rem, $left: 0.45rem);
    }

    i {
      @include mq(m){
        font-size: 2.75rem;
      }
    }
  }

}
