footer {
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  bottom: 0;
  box-shadow: 5px 5px 25px $color-white;
  text-align: center;

  p {
    font-size: .75rem;
  }

  .social-links {

    a {
      display: inline-block;
      padding-bottom: 0.65rem;
      padding-right: 0.45rem;
      padding-left: 0.45rem;
    }

  }
}
