header {
  .main-text {
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.1rem;
    text-align: center;
    @include center-box;
    // @include double-border;
    @include space-inside($top: .75rem, $bottom: .75rem);
    width: 100%;
    height: auto;
    @include setAnimation($name: fadeIn, $duration: 2s, $delay: .65s, $fillMode: backwards);
    h1 {
      @include space-outside($top: 0, $bottom: 8px);
      font-weight: $thin-font;
      @include setAnimation($name: scale, $duration: 1s, $delay: 2.2s);
    }

    h3 {
      font-weight: $thin-font;
      @include setAnimation($name: scale, $duration: 1s, $delay: 3.2s);
    }

    @include mq(m){
      width: 67%;
      @include space-inside($top: 1.75rem, $bottom: 1.75rem);
    }

    @include mq(l){
      width: 35%;
    }
  }

  @include mq(m){
    font-size: 1.45rem;
  }
}
