header {
  color: $color-white;
  .main-text {
    text-transform: uppercase;
    text-align: center;
    @include center-box;
    @include double-border;
    @include space-inside($top: .75rem, $bottom: .75rem);
    width: 80%;
    height: auto;
    animation: fadeIn 2s ease-out;
    animation-delay: .65s;
    animation-fill-mode: backwards;
    backface-visibility: hidden;
    h1 {
      @include space-outside($top: 0, $bottom: 8px);
      font-weight: $thin-font;
      animation: scale 1s ease;
      animation-delay: 2.2s;
    }

    h3 {
      font-weight: $thin-font;
      animation: scale 1s ease;
      animation-delay: 3.2s;
    }
  }
}

@media (min-width: 768px) {
    header {
      font-size: 1.45rem;

      .main-text {
        width: 67%;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
      }
    }
}
