header {
  color: $color-white;
  .main-text {
    text-transform: uppercase;
    text-align: center;
    @include center-box;
    @include double-border;
    @include space-inside($top: .75rem, $bottom: .75rem);
    width: 325px;
    height: auto;

    h1 {
      @include space-outside($top: 0, $bottom: 8px);
      font-weight: $thin-font;
    }

    h3 {
      font-weight: $thin-font;
    }
  }

}
