.page {
  background-color: #fdf7ff;
  opacity: 0.9;
  width: 90%;
  border-radius: 10px;
  margin: 50px auto;
  padding: 1rem;
  animation: fadeIn .7s ease-out;
  backface-visibility: hidden;
  @include shadow(black);
}
