
.navigation {
  .flower {
    width: 140px;
    height: 140px;
    position: fixed;
    top: -.8rem;
    right: -.95rem;
    z-index: 1600;
    opacity: 0;
    transition: opacity .2s ease-out;
  }

  &__checkbox {
    display: none;
  }

  &__btn {
    width: 4.5rem;
    height: 4.5rem;
    background-color: $color-pink;
    border-radius: 50%;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 2000;
    transition: border .2s ease-out;
  }

  &__background {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 1.1rem;
    right: 1.1rem;
    z-index: 1500;
    // set background
    background-image: radial-gradient($color-pink, $color-white);
    transition: transform .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  nav {
    opacity: 0;
    // set width to zero so the nav wont be clickable while not being viable
    width: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1800;
    transition: all .2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .navigation__list {
      width: 50%;
      list-style: none;
      text-align: center;
      text-transform: uppercase;

      li {
        font-size: 1.2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        a {
          transition: all .2s ease-out;
          display: block;
          color: black;
        }

        a:hover {
          color: $color-white;
          letter-spacing: 5px;
          transform: scale(1.2);
        }
      }
    }
  }

  &__icon {
    position: relative;
    margin-top: 2.2rem;
    margin-left: 1.2rem;
    &,
    &::before,
    &::after {
      width: 2rem;
      height: 2px;
      background-color: black;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      // animate lines
      transition: all .2s;
    }

    &::before {
      top: -.6rem;
    }

    &::after {
      top: .6rem;
    }
  }

  &__checkbox:checked ~  &__background {
    transform: scale(60);
  }

  &__checkbox:checked ~ .flower {
    opacity: 1;
  }

  &__checkbox:checked + &__btn {
    border: 1px solid black;
  }

  &__checkbox:checked ~ nav {
    opacity: 1;
    width: 100%;
  }

  &__checkbox:checked + &__btn &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__btn &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__btn &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }

}
