.navigation-bar {
  background-color: rgba(0, 0, 0, .7);
  @include shadow($color-white);
  @include height-anim(95px);

  #nav-links {
    display: none;
    text-align: center;
    text-transform: uppercase;
    font-size: .75rem;
    li a {
      padding: 1rem;
      display: block;
    }

    li:hover {
      background-color: rgba(255, 255, 255, .1);
    }

    @include mq(m) {
      font-size: 1.25rem;
    }

    @include mq(l){
      @include flexy($just: flex-end);
      font-size: 1rem;
    }
  }

  .nav-icons {
    i {
      @include mq(m) {
        font-size: 2.75rem;
      }
    }

    @include mq(l){
      .hamburger-icon{
        display: none;
      }

      .fa-medium {
        padding-left: 1rem;
      }
    }
  }

  nav {
    @include mq(l) {
      @include flexy($just: space-between);
    }
  }
}

.streatch {
  // stretaching the navigation bar
  // needed for height-anim
  max-height: 600px;
}
