* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
}

a {
  color: $color-white;
  text-decoration: none;
}

em {
  color: $color-purple;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
