@-webkit-keyframes fadeIn {
    0% {
       opacity: 0;
    }
    100% {
       opacity: .9;
    }
 }

 @keyframes fadeIn {
    0% {
       opacity: 0;
    }
    100% {
       opacity: .9;
    }
 }

 @-webkit-keyframes fadeInLeft {
     0% {
        opacity: 0;
        transform: translateX(130px);
     }
     80% {
       transform: translateX(-5px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
  }

  @keyframes fadeInLeft {
     0% {
        opacity: 0;
        transform: translateX(130px);
     }
     80% {
       transform: translateX(-5px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
  }

 @-webkit-keyframes scale {
     0% {
        transform: scale(1);
     }
     50% {
       transform: scale(1.1);
     }
     100% {
        transform: scale(1);
     }
  }

  @keyframes scale {
     0% {
        transform: scale(1);
     }
     50% {
       transform: scale(1.1);
     }
     100% {
        transform: scale(1);
     }
  }

  @-webkit-keyframes skew {
      0% {
        opacity: 0;
         transform: skewX(55deg);
      }
      80% {
        transform: skewX(-10deg);
      }
      100% {
        opacity: 1;
         transform: skewX(0);
      }
   }

   @keyframes skew {
     0% {
       opacity: 0;
        transform: skewX(55deg);
     }
     80% {
       transform: skewX(-10deg);
     }
     100% {
       opacity: 1;
        transform: skewX(0);
     }
   }
