// COLORS
$color-white: #fff;
$color-purple: #B01FDE;
$dark-purple: darken($color-purple, 20%);
$light-purple: lighten($color-purple, 30%);
$color-pink: #ead3d9;
$linkedin: #0077b5;
$twitter: #1c9deb;
$facebook: #395795;
$cream-color: #eee1c7;
// Darker COLORS
$linkedin-dark: darken($linkedin, 20%);
$twitter-dark: darken($twitter, 20%);
$facebook-dark: darken($facebook, 20%);
// FONTS
$thin-font: 300;
// BREAKPOINTS
$break-m: 768px;
$break-l: 1024px;
$break-xl: 2560px;
